@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
background: #DE6262;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-image:url("Images/Background.jpg");
float:left;
width:100%;
padding : 50px 0;
}
.banner-sec{background:url("Images/Background.jpg")  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.container{background:#298af1; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative; opacity:0.6;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:rgb(22, 3, 53); display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btnRegister{
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background:rgb(22, 3, 53);
    color: #fff;
    font-weight: 800;
    width: 50%;
    cursor: pointer;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    color: rgb(8, 8, 8);
    font-weight: bolder;
    font-size: 210%;
}
.login-sec .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.login-sec .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 1000;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.login-sec .nav-tabs .nav-link:hover{
    border: none;
}
.login-sec .nav-tabs .nav-link.active{
    width: 100px;
    color: #033d7a;
    border: 2px solid #033d7a;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

